@{ }

<!Doctype html>
<html>

<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        .logo {
            
            width:200px;
        }
    </style>
</head>
<body>
    <img src="~/Images/SISX2022.PNG" class="logo" alt="logo" />
    <img src="~/StaticFiles/download.png"  alt="dummy" class="logo"/>
</body>
</html>
